<div class="card col-md-9 col-lg-6 mx-auto">
  <div class="card-body" [formGroup]="drawRegisterForm">
    <h5 class="card-title">Cadastro de desenhos</h5>

    <div class="row mb-5">
      <div class="col-md-6">
        <label for="title">Título</label>
        <section class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="draw.title"
            formControlName="title"
          />
        </section>
        <label for="img">Imagem</label>
        <section class="input-group">
          <div class="Image-Selection">
            <button
              type="button"
              class="btn btn-primary"
              (click)="fileInput.click()"
            >
              Choose File
            </button>
            <input
              type="file"
              class="form-control-file"
              id="img"
              #fileInput
              hidden
              (change)="onFileSelected()"
            />
            <img
              class="Draw-Img"
              *ngIf="this.imgToDisplay"
              [src]="this.imgToDisplay"
              alt=""
            />
          </div>
        </section>
      </div>

      <div class="col-md-6">
        <label for="artist">Autor</label>
        <section class="input-group mb-3">
          <select
            class="form-control"
            id="artist"
            [(ngModel)]="draw.artistId"
            formControlName="artist"
          >
            <option></option>
            <option [value]="artist.id" *ngFor="let artist of artists">
              {{ artist.name }}
            </option>
          </select>
        </section>

        <label for="desc">Descrição</label>
        <section class="input-group">
          <textarea
            class="form-control"
            id="desc"
            [(ngModel)]="draw.desc"
            formControlName="desc"
          ></textarea>
        </section>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-primary"
        (click)="registerDraw()"
        [disabled]="drawRegisterForm.invalid && !this.draw.img"
      >
        Cadastrar
      </button>
    </div>
  </div>
</div>
