<div class="card col-md-9 col-lg-6 mx-auto">
    <div class="card-body" [formGroup]="artistRegisterForm">

        <h5 class="card-title">Cadastro de artistas</h5>

        <label>Nome Completo</label>
        <section class="input-group mb-3">
            <input class="form-control" [(ngModel)]="artist.name" formControlName="name">
        </section>

        <label>Estados</label>
        <section class="input-group mb-3">
            <select class="form-control" [(ngModel)]="artist.uf" formControlName="uf">
                <option>Acre</option>
                <option>Alagoas</option>
                <option>Amapá</option>
                <option>Amazonas</option>
                <option>Bahia</option>
                <option>Ceará</option>
                <option>Distrito Federal</option>
                <option>Espírito Santo</option>
                <option>Goiás</option>
                <option>Maranhão</option>
                <option>Mato Grosso</option>
                <option>Mato Grosso do Sul</option>
                <option>Minas Gerais</option>
                <option>Pará</option>
                <option>Paraíba</option>
                <option>Paraná</option> 
                <option>Pernambuco</option>
                <option>Piauí</option>
                <option>Rio de Janeiro</option>
                <option>Rio Grande do Norte</option>
                <option>Rio Grande do Sul</option>
                <option>Rondônia</option>
                <option>Roraima</option>
                <option>Santa Catarina</option>
                <option>São Paulo</option>
                <option>Sergipe</option>
                <option>Tocantins </option>
            </select>
        </section>

        <div class="d-flex justify-content-end mt-5">
            <button class="btn btn-primary" (click)="registerArtist()" [disabled]="artistRegisterForm.invalid">Cadastrar</button>
        </div>
    </div>
</div>