<div class="d-flex">
  <button class="btn btn-primary mb-4 ml-auto" routerLink="/artist/register">
    Cadastrar
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>UF</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let artist of artists">
      <td>{{ artist.name }}</td>
      <td>{{ artist.uf }}</td>
      <td>
        <button
          class="btn btn-primary mr-3"
          (click)="openModal(artist, content)"
        >
          Editar
        </button>
        <button
          class="btn btn-outline-danger"
          (click)="deleteArtist(artist.id)"
        >
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Artista</h4>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Nome</label>
        <input
          name="name"
          [(ngModel)]="artist.name"
          type="text"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>UF</label>
        <select name="uf" [(ngModel)]="artist.uf" class="form-control">
          <option>Acre</option>
          <option>Alagoas</option>
          <option>Amapá</option>
          <option>Amazonas</option>
          <option>Bahia</option>
          <option>Ceará</option>
          <option>Distrito Federal</option>
          <option>Espírito Santo</option>
          <option>Goiás</option>
          <option>Maranhão</option>
          <option>Mato Grosso</option>
          <option>Mato Grosso do Sul</option>
          <option>Minas Gerais</option>
          <option>Pará</option>
          <option>Paraíba</option>
          <option>Paraná</option>
          <option>Pernambuco</option>
          <option>Piauí</option>
          <option>Rio de Janeiro</option>
          <option>Rio Grande do Norte</option>
          <option>Rio Grande do Sul</option>
          <option>Rondônia</option>
          <option>Roraima</option>
          <option>Santa Catarina</option>
          <option>São Paulo</option>
          <option>Sergipe</option>
          <option>Tocantins</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Editar
    </button>
  </div>
</ng-template>
